@font-face {
  font-family: 'iconfont'; /* project id 1724904 */
  src: url('//at.alicdn.com/t/font_1724904_8ryev8rq29r.eot');
  src: url('//at.alicdn.com/t/font_1724904_8ryev8rq29r.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1724904_8ryev8rq29r.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1724904_8ryev8rq29r.woff') format('woff'),
    url('//at.alicdn.com/t/font_1724904_8ryev8rq29r.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1724904_8ryev8rq29r.svg#iconfont') format('svg');
}
