.nav-bar {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 0 15px;
  background-color: #fff;
  &-left,
  &-title,
  &-right {
    display: flex;
    align-items: center;
    height: 100%;
  }
  &-left {
    // flex: 1;
  }
  &-title {
    font-size: 18px;
    flex: 1;
    justify-content: center;
  }
  &-right {
    justify-content: flex-end;
  }
}
